.error-page {
	width: fit-content;
	margin: 20% auto;
	font-size: 4rem;

	animation: puls 2s ease-in-out 0.5s infinite alternate;
}

@keyframes puls {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.3);
	}
}
