@import url('../css/reset.css');
@import '_header';
@import '_home';
@import '_error-page';
@import '_shop.scss';
@import '_cart.scss';
@import '_btn-action';

* {
	font-family: 'Roboto Condensed', sans-serif;
}

html {
	font-size: 62.5%;
}

.wrapper {
	width: 100%;
	height: auto;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}
