@import '_header';
@import url('../css/reset.css');

* {
	font-family: 'Roboto Condensed', sans-serif;
}

html {
	font-size: 62.5%;
}

.wrapper {
	width: 100%;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}